<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porfolio</title>
    <link rel="stylesheet" href="../style/index.css">
    </style>
</head>

<body>
    <div class=container>
        <div class="left-panel">
            <div class="left-top">Status</div>
            <div class="left-bottom">Files</div>
        </div>


        <div class="main-panel">
            <div class="tabs">about | skills | certification</div>
            <div class="content">content here</div>
            <div class="terminal">terminal</div>
        </div>


        <div class="right">
            <div class="right-panel">
                <div class="theme">
                    <button class="dark-btn">dark</button>
                    <button class="light-btn">light</button>
                    <button class="theme-btn">theme</button>
                </div>
                <div class="skill">
                    <div class="explorer-title">
                        EXPLORER SKILLS
                    </div>
                    <details>
                        <summary>
                            <img src="./img/folder.svg" alt="">
                            <span>Programing language</span>
                        </summary>
                        <ul class = "skill-item">
                            <li>
                                <img src="./img/c.svg" alt="c">
                                <span>c</span>
                            </li>
                            <li>
                                <img src="./img/c++.svg" alt="">
                                <span>c++</span>
                            </li>
                            <li>
                                <img src="./img/java.svg" alt="">
                                <span>java</span>
                            </li>
                            <li>
                                <img src="./img/javascript.webp" alt="">
                                <span>javascript</span>
                            </li>
                            <li>
                                <img src="./img/python.svg" alt="">
                                <span>python</span>
                            </li>
                        </ul>

                    </details>
                    <details>

                        <summary>
                            <img src="./img/folder.svg" alt="">
                            <span>Web Technologies</span>
                        </summary>
                        <ul>
                            <li>
                                <img src="./img/HTML5.svg" alt="">
                                <span>HTML</span>
                            </li>
                            <li>
                                <img src="./img/CSS3.svg" alt="">
                                <span>CSS</span>
                            </li>
                            <li>
                                <img src="./img/React.svg" alt="">
                                <span>React</span>
                            </li>
                            <li>
                                <img src="./img/Node.js.svg" alt="">
                                <span>Nodejs</span>
                            </li>
                        </ul>
                    </details>
                    <details>

                        <summary>
                            <img src="./img/folder.svg" alt="">
                            <span>Cybersecurity Tools</span>
                        </summary>
                        <ul>
                            <li>
                                <img src="./img/BurpSuite_logo.svg.png" alt="">
                                <span>Burp suit</span>
                            </li>
                            <li>
                                <img src="./img/Wireshark_icon.svg.png" alt="">
                                <span>wireshark</span>
                            </li>
                            <li>
                                <img src="./img/nmap.png" alt="">
                                <span>NMAP</span>
                            </li>
                            <li>
                                <img src="./img/metasploit.jpg" alt="">
                                <span>Metasploit</span>
                            </li>
                        </ul>
                    </details>
                    <details>
                        <summary>
                            <img src="./img/folder.svg" alt="">
                            <span>Database</span>
                        </summary>
                        <ul>
                            <li>
                                <img src="./img/MySQL.svg" alt="">
                                <span>MySQL</span>
                            </li>
                            <li>
                                <img src="./img/SQLite.svg" alt="">
                                <span>SQLLite</span>
                            </li>
                        </ul>
                    </details>
                    <details>
                        <summary>
                            <img src="./img/folder.svg" alt="">
                            <span>Operating System</span>
                        </summary>
                        <ul>
                            <li>
                                <img src="./img/Windows 11.svg" alt="">
                                <span>Window</span>
                            </li>
                            <li>
                                <img src="./img/Linux.svg" alt="">
                                <span>Kali-Linux</span>
                            </li>
                            <li>
                                <img src="./img/Ubuntu.svg" alt="">
                                <span>ubuntu</span>
                            </li>
                            <li>
                                <img src="./img/Android.svg" alt="">
                                <span>Android</span>
                            </li>
                        </ul>
                    </details>
                    <details>
                        <summary>
                            <img src="./img/folder.svg" alt="">
                            <span>Networking</span>
                        </summary>
                        <ul>
                            <li>
                                <img src="./img/tcp.webp" alt="">
                                <span>TCP/IP</span>
                            </li>
                            <li>
                                <img src="./img/DNS.webp" alt="">
                                <span>DNS</span>
                            </li>
                            <li>
                                <img src="./img/dhcp.webp" alt="">
                                <span>DHCP</span>
                            </li>
                            <li>
                                <img src="./img/https.webp" alt="">
                                <span>http/https</span>
                            </li>
                            <li>
                                <img src="./img/arp.webp" alt="">
                                <span>ARP</span>
                            </li>
                            <li>
                                <img src="./img/vpn.webp" alt="">
                                <span>VPN</span>
                            </li>
                            <li>
                                <img src="./img/subnetting.webp" alt="">
                                <span>Subbneting</span>
                            </li>
                        </ul>
                    </details>
                    <details>
                        <summary>
                            <img src="./img/folder.svg" alt="">
                            <span>Tools & Environment</span>
                        </summary>
                        <ul>
                            <li>
                                <img src="./img/Qt Framework.svg" alt="">
                                <span>QtCreator</span>
                            </li>
                            <li>
                                <img src="./img/Visual Studio Code (VS Code).svg" alt="">
                                <span>Visual Stdio Code</span>
                            </li>
                            <li>
                                <img src="./img/Git.svg" alt="">
                                <span>Git/Github</span>
                            </li>
                            <li>
                                <img src="./img/virtualBox.webp" alt="">
                                <span>VirtualBox</span>
                            </li>
                        </ul>
                    </details>
                </div>
                <div class="status">Status</div>
            </div>
            <div class="profile">
                <button class="resume-btn btn">
                    <img src = "img/resume.webp">
                </button>
                <button class="leet-btn btn">
                    <img src = "img/leetcode.webp">
                </button>
                <button class="mail-btn btn">
                    <img src = "img/mail.webp">
                </button>
                <button class="git-btn btn">
                    <img src = "img/git.webp">
                </button>
                <button class="lIn-btn btn">
                    <img src = "img/linkdIn.webp">
                </button>
            </div>
        </div>
    </div>
</body>

</html>