<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porfolio</title>
    <link rel = "stylesheet" href = "../style/index.css"></style>
</head>
<body>
    <div class = container>
        <div class="left-panel">
            <div class="left-top">Status</div>
            <div class="left-bottom">Files</div>
        </div>
        <div class="main-panel">
            <div class="tabs">about | skills | certification</div>
            <div class="content">content here</div>
            <div class="terminal">terminal</div>
        </div>
        <div class="right-panel">Network</div>
    </div>
</body>
</html>